data/wsdls/YellowPagesService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.magnet.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.magnet.com" name="YellowPagesService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.magnet.com" schemaLocation="http://ec2-184-73-100-147.compute-1.amazonaws.com:7001/yp/YellowPagesService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.magnet.com/yp" schemaLocation="http://ec2-184-73-100-147.compute-1.amazonaws.com:7001/yp/YellowPagesService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="findAll">
        <part name="findAll" element="tns:findAll"/>
    </message>
    <message name="findAllResponse">
        <part xmlns:ns1="http://www.magnet.com/yp" name="FindResponseList" element="ns1:FindResponseList"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="getImage">
        <part name="getImage" element="tns:getImage"/>
    </message>
    <message name="getImageResponse">
        <part xmlns:ns2="http://www.magnet.com/yp" name="ImageByteArray" element="ns2:ImageByteArray"/>
    </message>
    <message name="find">
        <part name="find" element="tns:find"/>
    </message>
    <message name="findResponse">
        <part xmlns:ns3="http://www.magnet.com/yp" name="FindResponse" element="ns3:FindResponse"/>
    </message>
    <message name="list"/>
    <message name="listResponse">
        <part xmlns:ns4="http://www.magnet.com/yp" name="FindResponseList" element="ns4:FindResponseList"/>
    </message>
    <message name="match">
        <part name="match" element="tns:match"/>
    </message>
    <message name="matchResponse">
        <part xmlns:ns5="http://www.magnet.com/yp" name="FindResponseMatchList" element="ns5:FindResponseMatchList"/>
    </message>
    <portType name="YellowPagesPortType">
        <operation name="findAll">
            <input wsam:Action="http://www.magnet.com/YellowPagesPortType/findAllRequest" message="tns:findAll"/>
            <output wsam:Action="http://www.magnet.com/YellowPagesPortType/findAllResponse" message="tns:findAllResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://www.magnet.com/YellowPagesPortType/findAll/Fault/Exception"/>
        </operation>
        <operation name="getImage">
            <input wsam:Action="http://www.magnet.com/YellowPagesPortType/getImageRequest" message="tns:getImage"/>
            <output wsam:Action="http://www.magnet.com/YellowPagesPortType/getImageResponse" message="tns:getImageResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://www.magnet.com/YellowPagesPortType/getImage/Fault/Exception"/>
        </operation>
        <operation name="find">
            <input wsam:Action="http://www.magnet.com/YellowPagesPortType/findRequest" message="tns:find"/>
            <output wsam:Action="http://www.magnet.com/YellowPagesPortType/findResponse" message="tns:findResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://www.magnet.com/YellowPagesPortType/find/Fault/Exception"/>
        </operation>
        <operation name="list">
            <input wsam:Action="http://www.magnet.com/YellowPagesPortType/listRequest" message="tns:list"/>
            <output wsam:Action="http://www.magnet.com/YellowPagesPortType/listResponse" message="tns:listResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://www.magnet.com/YellowPagesPortType/list/Fault/Exception"/>
        </operation>
        <operation name="match">
            <input wsam:Action="http://www.magnet.com/YellowPagesPortType/matchRequest" message="tns:match"/>
            <output wsam:Action="http://www.magnet.com/YellowPagesPortType/matchResponse" message="tns:matchResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://www.magnet.com/YellowPagesPortType/match/Fault/Exception"/>
        </operation>
    </portType>
    <binding name="YellowPagesPortTypePortBinding" type="tns:YellowPagesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findAll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getImage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="find">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="list">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="match">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="YellowPagesService">
        <port name="YellowPagesPortTypePort" binding="tns:YellowPagesPortTypePortBinding">
            <soap:address location="http://ec2-184-73-100-147.compute-1.amazonaws.com:7001/yp/YellowPagesService"/>
        </port>
    </service>
</definitions>