data/wadls/SimpleEjbService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.bea.com/wls/samples"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.bea.com/wls/samples"
             name="SimpleEjbService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Wssp1.2-2007-Https-BasicAuth.xml">
<ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns1:TransportToken>
<wsp1_2:Policy>
<ns1:HttpsToken>
<wsp1_2:Policy>
<ns1:HttpBasicAuthentication/>
</wsp1_2:Policy>
</ns1:HttpsToken>
</wsp1_2:Policy>
</ns1:TransportToken>
<ns1:AlgorithmSuite>
<wsp1_2:Policy>
<ns1:Basic256/>
</wsp1_2:Policy>
</ns1:AlgorithmSuite>
<ns1:Layout>
<wsp1_2:Policy>
<ns1:Lax/>
</wsp1_2:Policy>
</ns1:Layout>
<ns1:IncludeTimestamp/>
</wsp1_2:Policy>
</ns1:TransportBinding>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.bea.com/wls/samples" schemaLocation="http://raspi7.magnet.com:7001/SimpleEjbImpl/SimpleEjbService?xsd=1"/>
</xsd:schema>
</types>
<message name="postConstruct">
<part name="parameters" element="tns:postConstruct"/>
</message>
<message name="postConstructResponse">
<part name="parameters" element="tns:postConstructResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="SystemException">
<part name="fault" element="tns:SystemException"/>
</message>
<message name="sayHelloNoTrans">
<part name="parameters" element="tns:sayHelloNoTrans"/>
</message>
<message name="sayHelloNoTransResponse">
<part name="parameters" element="tns:sayHelloNoTransResponse"/>
</message>
<portType name="Simple">
<operation name="postConstruct">
<input wsam:Action="http://www.bea.com/wls/samples/Simple/postConstructRequest" message="tns:postConstruct"/>
<output wsam:Action="http://www.bea.com/wls/samples/Simple/postConstructResponse" message="tns:postConstructResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://www.bea.com/wls/samples/Simple/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://www.bea.com/wls/samples/Simple/sayHelloResponse" message="tns:sayHelloResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://www.bea.com/wls/samples/Simple/sayHello/Fault/SystemException"/>
</operation>
<operation name="sayHelloNoTrans">
<input wsam:Action="http://www.bea.com/wls/samples/Simple/sayHelloNoTransRequest" message="tns:sayHelloNoTrans"/>
<output wsam:Action="http://www.bea.com/wls/samples/Simple/sayHelloNoTransResponse" message="tns:sayHelloNoTransResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://www.bea.com/wls/samples/Simple/sayHelloNoTrans/Fault/SystemException"/>
</operation>
</portType>
<binding name="SimpleEJBPortBinding" type="tns:Simple">
<wsp:PolicyReference URI="#Wssp1.2-2007-Https-BasicAuth.xml"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="postConstruct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
<operation name="sayHelloNoTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SimpleEjbService">
<port name="SimpleEJBPort" binding="tns:SimpleEJBPortBinding">
<soap:address location="https://raspi7.magnet.com:7002/SimpleEjbImpl/SimpleEjbService"/>
</port>
</service>
</definitions>